*{
    margin: 0%;
    padding: 0%;
}

.body-añadir {
    background-color: rgb(37, 38, 39);
    height: 100vh;
}

.añadir{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    
    font-size: 1.2rem;
}
.datos1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem;
}
.botonArriba1{
    width: 150px;
    height: 35px;
    border-radius: 5px;
    background-color: rgb(140 ,139 ,136);
}

.botonArriba2{
    width: 83px;
    height: 35px;
    border-radius: 5px;
    background-color: rgb(140 ,139 ,136);
}

.botonAbajo{
    width: 192px;
    height: 35px;
    border-radius: 5px;
    background-color: rgb(140 ,139 ,136);
}

.cancel{
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(144,78,85);
    color: aliceblue;
    font-size: 1.5rem;

}

.confirmar{
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(60 ,100 ,64);
    color: aliceblue;
    font-size: 1.5rem;
}
.botones{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 2rem;
}

.columna{
    color: aliceblue;
    background-color: rgb(86, 78, 88);
    padding: 10px;
}

.columna-inicial {
    color: aliceblue;
    background-color: rgb(86, 78, 88);
    padding: 10px;
    border-radius: 10px 0px 0px 10px;
}

.columna-final {
    color: aliceblue;
    background-color: rgb(86, 78, 88);
    padding: 10px;
    border-radius: 0px 10px 10px 0px;
}

.fila{
    color: aliceblue;
    background-color: rgb(191, 180, 143);
    padding: 10px 0px 10px 0px;

}


.fila-secu {
    color: aliceblue;
    background-color: rgb(191, 180, 143);
    border-radius: 10px 0px 0px 10px;
}

.fila-secus {
    color: aliceblue;
    background-color: rgb(191, 180, 143);

    border-radius: 0px 10px 10px 0px;
}

.textos{
    color: aliceblue;

}

.textos-xd{
    color: aliceblue;

}
.tablaA{
    min-width: 670px;
}

.titulo{
    text-align: center;
    color: white;
    padding: 2rem 0px 2rem 0px;
}


/* Contenedor de la tabla */
.tabla-container {
    max-width: 100%;
    background-color: #333; /* Fondo oscuro del contenedor */
    border: none; 
    border-radius: 8px; 
    padding: 10px; 
  }
  
 
  .tablaA {
    width: 100%;
    border-collapse: collapse; 
  }
  
  .tablaA th {
    padding: 8px;
    text-align: left;
    border: 1px solid transparent; 
    color: white; 
    background-color: #444; 
  }
  
  
  .tabla-scroll {
    max-height: 350px; 
    overflow-y: auto; 
  }
  

  .tablaA tbody tr {
    background-color: #555; 
  }
  
  .tablaA tbody tr:nth-child(even) {
    background-color: #555; 
  }
  
  .tablaA tbody tr:hover {
    background-color: #666; 
  }
  
  .tablaA td {
    padding: 8px;
    text-align: left;
    border: 1px solid transparent; 
    color: white;
  }
  

  .tabla-scroll::-webkit-scrollbar {
    width: 12px; 
  }
  
  .tabla-scroll::-webkit-scrollbar-track {
    background: #333; 
    border-radius: 10px; 
  }
  
  .tabla-scroll::-webkit-scrollbar-thumb {
    background: #555; 
    border-radius: 10px; 
  }
  
  .tabla-scroll::-webkit-scrollbar-thumb:hover {
    background: #777; 
  }
  
  .alert {
    position: fixed;
    bottom: 20px; 
    left: 50%; 
    transform: translateX(-50%); 
    z-index: 1000; 
    width: 90%; 
    max-width: 400px; 
  }
  