
  .nav-tabs .nav-link{
    color: white; 
  }
  
  .nav-tabs .nav-link.active {
    background-color: white; 
    color: #000; 
  }
  
.nav-link{
    border-radius:10px 10px 0px 0px;
}

.taburador{
    background-color: #252627;
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
    
}
.btn-success, .btn-info,.btn-danger, .btn-outline-danger{
    margin-top: -12px;
    
}
.pop{
  margin-top: 10px;
}
.dropdown{
  margin-top: -6px;
}